# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# OS
.DS_Store

# === Large binary files ===
# Training data
*.bin
*.binpack
*.npz
*.jsonl

# Model weights
*.pth
*.npy

# Stockfish
*.exe

# PGN
*.pgn

# Archive
*.zip

# IDE
.vscode/
